node_modules
*/node_modules
*/*/node_modules

packages/eth/artifacts
packages/eth/artifacts/*
packages/eth/cache
packages/eth/typechain
packages/eth/typechain/*

packages/subgraph/build
packages/subgraph/generated

yarn-error.log