node_modules
*/node_modules
*/*/node_modules

packages/contracts/artifacts
packages/contracts/artifacts/*
packages/contracts/cache

packages/subgraph/build
packages/subgraph/generated

yarn-error.log