node_modules
*/node_modules
*/*/node_modules

packages/hardhat/artifacts
packages/hardhat/artifacts/*
packages/hardhat/cache
packages/hardhat/typechain
packages/hardhat/typechain/*

packages/subgraph/build
packages/subgraph/generated
packages/subgraph/data

yarn-error.log

